# Node.js
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment Variables
.env

# IDE/Editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
dist/
build/
