*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background: rgb(178, 190, 181);
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
  }
  body, html {
    margin: 0;
    padding: 0;
  }
  
  .form-container {
    background: white;
    color: Black;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px black;
    margin-bottom:10px;
  }
  h2 {
    text-align: center;
    color: red;
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(0, 150, 255);
    border-radius: 5px;
  }
  button {
    width: 100%;
    background: red;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  button:hover {
    background: rgb(255, 80, 80);
  }